{% extends "base.html" %}

{% block content %}
  <body>
    <div class="container">
      {% if reaction_data %}
        <br>
        <h3>Reaction created!</h3>
      {% else %}
        <br>
        <h3>Enter the details of the new reaction</h3>
        <form method="POST">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.user_id.label }}  {{ form.user_id }}
          </div>

          <div class="form-group">
            {{ form.reaction.label }} {{ form.reaction }}
          </div>

          <br>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      {% endif %}
    </div>
  </body>
{% endblock %}
