{% extends "base.html" %}

{% block content %}
  <body>
    <div class="container">
      {% if post_data %}
        <br>
        <h3>Post created!</h3>
      {% else %}
        <br>
        <h3>Enter the details of the new post</h3>
        <form method="POST">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.author_id.label }}  {{ form.author_id }}
          </div>

          <div class="form-group">
            {{ form.text.label }} <br> {{ form.text }}
          </div>

          <br>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      {% endif %}
    </div>
  </body>
{% endblock %}
