{% extends 'base.html' %}

{% block content %}
    <body>
        <br>
        <h1>Welcome to the newest network <strong>Vibe Social!</strong></h1>

        <p>Express yourself and connect with a vibrant community of thinkers and creators. Vibe Social is your space to share, discover, and engage with diverse perspectives on any topic you can imagine.</p>

        <p>Why join us?</p>

        <ul>
            <li>Create captivating posts: Share your thoughts, stories, or discoveries with the world.</li>
            <li>React and connect: Express your feelings with a range of reactions and connect with like-minded individuals.</li>
            <li>Explore endless topics: Dive into a sea of topics covering everything from technology to lifestyle.</li>
        </ul>

        <p>Ready to start your journey with Vibe Social? Join now and become part of a community that values expression, connection, and positive vibes!</p>

        <a href="http://127.0.0.1:5000/front/user/create" class="btn btn-primary">Join Now</a>
    </body>
{% endblock %}
